<?xml version="1.0" encoding="utf-8"?>

<configuration>
     <Headers>
          <Cache>
               <header key="Cache-Control">max-age=0</header>
          </Cache>
          <Client>
               <header key="Accept">text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8</header>
               <header key="Accept-Encoding">gzip, deflate, sdch</header>
               <header key="Accept-Language">en-US,en;q=0.8</header>
               <header key="UserAgent">Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/46.0.2490.80 Safari/537.36</header>
          </Client>
          <Security>
               <header key="Upgrade-Insecure-Requests">1</header>
          </Security>
          <Transport>
               <header key="Connection">keep-alive</header>
          </Transport>
     </Headers>
</configuration>